<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Spring Boot Thymeleaf Web Application</title>
  <style>
        label {
            text-align: center;
            width: 30%;
        }
        .input-container {
            width: 100%;
        }
        form {
            text-align: center;
        }
        .submit {
            margin: 2.5px;
        }
        #criteria {
            width: 220px;
        }
    </style>
</head>
<body>
<form action='/get_cars_list' enctype="text/plain" method="post">
  <div class="input-container">
    <label for="criteria">Введите параметры для фильтрации списка автомобилей в формате (цвет: чёрный, марка: Renault):</label>
  </div>
  <div>
    <input type='text' name='criteria' id="criteria">
  </div>
  <input type="submit" value="Submit" class="submit">
</form>
</body>
</html>
